@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/Gilroy-UltraLight.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/Gilroy-Black.woff") format("woff");
}

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/Gilroy-Heavy.woff") format("woff");
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: background-color 0.3s ease-in-out;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

img {
	display: block;
	object-fit: contain;
}

ul,
ol {
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	outline: none;
	color: inherit;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
ul,
ol,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

input {
	font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	color: var(--primary-black);
}

html,
body {
	min-height: 100vh;
	font-family: "Gilroy", sans-serif;
	color: white;
}

address {
	font-style: normal;
}

svg {
	display: block;
}

button {
	font-family: inherit;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
	color: white;
}

:not(.show-scrollbar)::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none;
	background: transparent;
}

:not(.show-scrollbar)::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}
